@font-face {
    font-family: 'Avenir';
    src: url('avenir/AvenirLTStd-Heavy.woff') ;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%; 
    margin: 0px;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #ffffffec;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    z-index: 9999;
    height: 60px;
}
nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    padding: 5px 20px;
    height: 40px;    
}

#nav-container {
    width: 980px;
    margin: auto;
}
nav img {
    float: left;
    height: 35px;
    padding: 5px 20px;
    margin: 0px; 
}
nav a {
    color: #013336d8;
    font-size: 16px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    font-family: 'Avenir';
}

#landing {
    background-image: url("../images/landing-back.jpg");
    display: block;
    height: 95%;
}

#landing-front {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 180px;
    height: 35%;
    width: 50%;
}

#landing-subtitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 15%;
}

